stepfunctions/analysis-video-advanced-v5.json
{
  "Comment": "Advanced Video Analysis state machine",
  "StartAt": "Shots to scenes (1st pass)",
  "States": {
    "Shots to scenes (1st pass)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-west-2:189427507247:function:so0050-0a48a6e54829-analysis-video-advanced",
        "Payload": {
          "operation": "StateShotsToScenes",
          "uuid.$": "$.uuid",
          "input.$": "$.input",
          "data.$": "$.data"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 2,
          "BackoffRate": 1.2
        }
      ],
      "Next": "Map scene frame accurate processing"
    },
    "Map scene frame accurate processing": {
      "Type": "Map",
      "MaxConcurrency": 10,
      "ItemsPath": "$.data.iterators",
      "ItemSelector": {
        "operation": "StateFindFrameAccurateBoundary",
        "itemId.$": "$$.Map.Item.Index",
        "itemData.$": "$$.Map.Item.Value"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Find frame accurate boundary",
        "States": {
          "Find frame accurate boundary": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
              "FunctionName": "arn:aws:lambda:us-west-2:189427507247:function:so0050-0a48a6e54829-analysis-video-advanced",
              "Payload.$": "$"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "AccessDeniedException",
                  "ResourceNotFoundException",
                  "ValidationException"
                ],
                "MaxAttempts": 0
              },
              {
                "ErrorEquals": [
                  "InternalServerException",
                  "ModelErrorException",
                  "ModelNotReadyException",
                  "ModelTimeoutException",
                  "ServiceQuotaExceededException",
                  "ThrottlingException",
                  "ServiceUnavailableException"
                ],
                "IntervalSeconds": 60,
                "MaxAttempts": 10,
                "BackoffRate": 1.2
              },
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 2,
                "BackoffRate": 1.2
              }
            ],
            "Next": "More boundaries?"
          },
          "More boundaries?": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.itemData.status",
                "StringEquals": "COMPLETED",
                "Next": "Frame accurate boundary completed"
              }
            ],
            "Default": "Find frame accurate boundary"
          },
          "Frame accurate boundary completed": {
            "Type": "Succeed"
          }
        }
      },
      "ResultPath": "$.data.iterators",
      "Next": "Refine embedding search"
    },
    "Refine embedding search": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-west-2:189427507247:function:so0050-0a48a6e54829-analysis-video-advanced",
        "Payload": {
          "uuid.$": "$.uuid",
          "input.$": "$.input",
          "data.$": "$.data",
          "operation": "StateRefineEmbeddingSearch",
          "status": "NOT_STARTED"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 2,
          "BackoffRate": 1.2
        }
      ],
      "Next": "Map embedding search"
    },
    "Map embedding search": {
      "Type": "Map",
      "MaxConcurrency": 4,
      "ItemsPath": "$.data.iterators",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Search embeddings with faiss",
        "States": {
          "Search embeddings with faiss": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
              "FunctionName": "arn:aws:lambda:us-west-2:189427507247:function:so0050-0a48a6e54829-search-embeddings",
              "Payload.$": "$"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 2,
                "BackoffRate": 1.2
              }
            ],
            "End": true
          }
        }
      },
      "ResultPath": "$.data.iterators",
      "Next": "Shots to scenes (2nd pass)"
    },
    "Shots to scenes (2nd pass)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-west-2:189427507247:function:so0050-0a48a6e54829-analysis-video-advanced",
        "Payload": {
          "operation": "StateAdjustScenesWithFrameAccuracy",
          "uuid.$": "$.uuid",
          "input.$": "$.input",
          "data.$": "$.data",
          "status": "NOT_STARTED"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 2,
          "BackoffRate": 1.2
        }
      ],
      "End": true
    }
  }
}