stepfunctions/analysis-video-v5.json
{
  "Comment": "Video Analysis state machine",
  "StartAt": "Has frame embeddings?",
  "States": {
    "Has frame embeddings?": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.input.video.frameExtraction",
              "IsPresent": true
            },
            {
              "Variable": "$.input.video.frameExtraction.embeddings",
              "IsPresent": true
            }
          ],
          "Next": "Prepare frame analysis iterators"
        }
      ],
      "Default": "Rerun frame embeddings state machine"
    },
    "Rerun frame embeddings state machine": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "arn:aws:states:us-west-2:189427507247:stateMachine:so0050-0a48a6e54829-frame-extraction",
        "Input.$": "$"
      },
      "OutputPath": "$.Output",
      "Next": "Prepare frame analysis iterators"
    },
    "Prepare frame analysis iterators": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-west-2:189427507247:function:so0050-0a48a6e54829-analysis-video",
        "Payload": {
          "operation": "StatePrepareFrameAnalysisIterators",
          "uuid.$": "$.uuid",
          "input.$": "$.input",
          "data.$": "$.data",
          "status": "NOT_STARTED",
          "progress": 0
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 2,
          "BackoffRate": 1.2
        }
      ],
      "Next": "Map processing"
    },
    "Map processing": {
      "Type": "Map",
      "MaxConcurrency": 10,
      "ItemsPath": "$.data.iterators",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Run feature based analysis state machine",
        "States": {
          "Run feature based analysis state machine": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Parameters": {
              "StateMachineArn.$": "$.featureStateMachineArn",
              "Input.$": "$"
            },
            "OutputPath": "$.Output",
            "End": true
          }
        }
      },
      "ResultPath": "$.data.iterators",
      "Next": "Map iterations completed"
    },
    "Map iterations completed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-west-2:189427507247:function:so0050-0a48a6e54829-analysis-video",
        "Payload": {
          "operation": "StateMapIterationsCompleted",
          "stateExecution.$": "$$.Execution",
          "uuid.$": "$.uuid",
          "input.$": "$.input",
          "data.$": "$.data"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 2,
          "BackoffRate": 1.2
        }
      ],
      "End": true
    }
  }
}