stepfunctions/ingest-document-v5.json
{
  "Comment": "document ingest state machine lambda to run pdf info to extract metadata and convert pages to PNG images",
  "StartAt": "Run PDFInfo and extract pages",
  "States": {
    "Run PDFInfo and extract pages": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-west-2:189427507247:function:so0050-0a48a6e54829-ingest-document",
        "Payload": {
          "operation": "run-docinfo",
          "uuid.$": "$.uuid",
          "status.$": "$.status",
          "progress.$": "$.progress",
          "input.$": "$.input",
          "data.$": "$.data"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 2,
          "BackoffRate": 1.2
        }
      ],
      "Next": "More pages?"
    },
    "More pages?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "COMPLETED",
          "Next": "PDFInfo completed"
        }
      ],
      "Default": "Run PDFInfo and extract pages"
    },
    "PDFInfo completed": {
      "Type": "Succeed"
    }
  }
}